traited_pedigree_engine = gblup.jar
non_traited_pedigree_engine = gblup_no_traited.jar
prepend_realized = H
prepend_genomics_only = G
prepend_nongenomic = A
prepend_dominance = D
inverse_file_extension = .giv
standard_file_extension = .grm
delimiter_covariance_file_name = _
hybrid_ext_genomic = gen
hybrid_ext_nongenomic = ped